.DS_Store

kababik/db.sqlite3

.idea

kababik/kababik/__pycache__/

idea

kababik/ksp/__pycache__/


kababik/ksp/migrations/

.DS_Store

.env.dev

media/

.egg-info/

.installed.cfg

.egg

migrations/

dist

db.sqlite3

sqlite.db

venv

__pycache__/
*/__pycache__/
.pyc

!*media/.gitkeep
media/*

log/debug.log

doc
build

.log
*.log